@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 219, 220);
  padding: 0.5rem 1rem;
  z-index: 10;
}

.header h1 {
  font-size: 1.5rem;
  color: var(--foreground);
  font-weight: bold;
}

.auth-buttons button {
  background-color: #3b82f6; /* blue-500 */
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.auth-buttons button:hover {
  background-color: #1d4ed8; /* blue-700 */
}

.map-container {
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - 4rem); /* Adjusting height to account for header */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(146, 159, 168);
}

.loading-text {
  color: rgb(35, 44, 63);
  font-weight: bold;
  font-size: 2rem; /* Adjust the size as needed */
}
